{% extends 'base.html' %}

{% load static %}

{% block title %}cinema with{% endblock %}

{% block header %}

<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container">
            <h1 class="masthead-heading mb-0">Cinema with</h1>
            <!--<h2 class="masthead-subheading mb-0">推しメンと一緒に映画を見よう！</h2>-->
            <a href="{% url 'account_login'%}" class="btn btn-primary btn-xl rounded-pill mt-5">LOG IN</a>
        </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
</header>
{% endblock %}
{% block contents %}
<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class-"p-5">
                    <img class="img-fluid rounded-circle" src="{% static 'assets/img/01.jpg' %}" alt="">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class-"p-5">
                    <h2 class="display-4">Buy Ticket</h2>
                    <p>一律1,500円のシンプルな料金体系！</p>
                </div>
            </div> 
        </div>
    </div>
</section>


            
<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class-"p-5">
                    <img class="img-fluid rounded-circle" src="{% static 'assets/img/02.jpg' %}" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class-"p-5">
                    <h2 class="display-4">Bring Food</h2>
                    <p>スイーツやドリンクを用意しよう！</p>
                </div>
            </div> 
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class-"p-5">
                    <img class="img-fluid rounded-circle" src="{% static 'assets/img/03.jpg' %}" alt="">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class-"p-5">
                    <h2 class="display-4">Watch Movie</h2>
                    <p>推しと時間を共有しよう</p>
                </div>
            </div> 
        </div>
    </div>
</section>
{% endblock %}
