{% extends 'base.html' %}

{% load static %}

{% block title %}お問い合わせ{% endblock %}

{% block active_inquiry %}active{% endblock %}

{% block main %}
<div class="welcome">
    <h1 class='title'>Excite Networksへようこそ</h1>
    <p class='subtitle'>あなたの「熱狂」を共有しましょう！</p>
    <a class='btn btn-primary' href="{% url 'snippet_new' %}">投稿を作成する</a>
</div>

{% if diaries %}
<table class= "table">
    <thread>
    <tr>
        <th>投稿者</th>
        <th>投稿日</th>
        <th>タイトル</th>
    </tr>
    </thread>
    <tbody>
    {% for diary in diaries %}
    <tr>
        <th>{{ diary.created_by.username }} </th>
        <th> {{ diary.created_at }} </th>
        <th><a href="{% url 'snippet_detail' snippet.id %} ">{{ diary.title }}</a></th>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>スニペットはまだ投稿されていません</p>
{% endif %}
{% endblock %}